aiosmtpd==1.4.2
asgiref==3.5.2
atpublic==3.1.1
attrs==22.1.0
better-profanity==0.7.0
certifi==2021.10.8
charset-normalizer==2.0.12
distlib==0.3.4
Django==4.1.1
django-profanity-check==0.1.0
django-profanity-filter==0.2.1
django-taggit==3.0.0
filelock==3.6.0
idna==3.3
inflection==0.5.1
joblib==1.1.0
numpy==1.22.3
platformdirs==2.5.2
profanity-check==1.0.3
psycopg2-binary==2.9.3
pygame==2.1.2
pytube==12.1.0
requests==2.27.1
scikit-learn==1.1.2
scipy==1.9.1
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.1.0
tzdata==2022.2
urllib3==1.26.9
virtualenv==20.14.1
virtualenvwrapper-win==1.2.7
